{% load static %}
{% startblock %}
<!--myScript-->
<script>
     {% comment %} const editor = new DataTable.Editor({
        //ajax: '../php/staff.php',
        fields: [
            {% for bus_data in bus_data  %}
            {
                label: 'First name:',
                name: 'bus_name'
            },
           
            {% endfor %}
        ],
        table: '#example'
    });
     
    new DataTable('#example', {
        //ajax: '../php/staff.php',
        columns: [
            
            {% for bus_data in bus_data  %}
            {data: {{bus_data.name}} },
            {% endfor %}
           
           
        ],
        layout: {
            topStart: {
                buttons: [
                    { extend: 'create', editor: editor },
                    { extend: 'edit', editor: editor },
                    { extend: 'remove', editor: editor }
                ]
            }
        },
        select: true
    });  {% endcomment %}

    //WOrking
{% comment %} 
    var busDataArray = [
    {% for bus_data in bus_data %}
        {
            "name": "{{ bus_data.name }}",
            "color": "{{ bus_data.color }}"
        },

     
    {% endfor %}
    ];

// Initialize DataTable using JavaScript array
new DataTable('#example', {
    data: busDataArray,
    columns: [
        { data: 'name' },
        { data: 'color' }
    ]
});  {% endcomment %}


</script> 

<!--DataTables JS & CSS-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script> 
{% comment %} 
<script src="{% static "https://cdn.datatables.net/2.0.2/js/dataTables.jqueryui.min.js" %}"></script>
<script src="{% static "https://cdn.datatables.net/2.0.2/js/dataTables.min.js" %}"></script> {% endcomment %}

<!--DataTbles JS and CSS End-->

<!--Plugins-->
<script src="{% static "/Editor-2.3.2/js/dataTables.editor.js" %}"></script>
<script src="{% static "/Editor-2.3.2/js/editor.dataTables.js" %}"></script>
<!--Plugins End-->

<!--DataTables Buttons Plugin-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
<!--DataTables Buttons Plugin End-->

<!--Editor Plugin for CRUD Operations-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/editor/2.3.2/css/editor.dataTables.min.css">
<script src="https://cdn.datatables.net/editor/2.3.2/js/dataTables.editor.min.js"></script>


<script>

var busDataArray = [
  {% for bus_data in bus_data %}
    {
      "name": "{{ bus_data.name }}",
      "color": "{{ bus_data.color }}"
    },
  {% endfor %}
];
console.log(busDataArray)

const editor = new DataTable.Editor({
    fields: [
        {
            label: 'First name:',
            name: 'first_name'
        },
        {
            label: 'Last name:',
            name: 'last_name'
        },
        
    ],
    table: '#example'
});  

new DataTable('#example', {
    data: busDataArray,
    columns: [
        { data: 'name' },
        { data: 'color'}
    ],
    dom: 'Bfrtip',
    

    layout: {
        topStart: {
            buttons: [
                { extend: 'create', editor: editor },
                { extend: 'edit', editor: editor },
                { extend: 'remove', editor: editor }
            ]
        }
    },
   
   
});







{% comment %} 
let table = new DataTable('#example', {
    // config options...
    data: busDataArray,
    columns: [
        { data: 'name' },
        { data: 'color' }
    ]
}); {% endcomment %}

</script> 
{% endblock %}