<!--Datatables.net CDN -->
{% load static %}
{% comment %} <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css">
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>

<!--Datatables Extension and Plugins-->
<script src="{% static "/Editor-2.3.2/js/dataTables.editor.js" %}"></script>


<!--Css-->
 <!-- DataTables CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">

 <!-- Buttons extension CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css">

 <!-- Select extension CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/2.0.0/css/select.dataTables.css">

 <!-- DateTime extension CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css">

 <!-- Editor extension CSS -->
 <link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.css">

 <!--Js-->
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>

    <!-- Buttons extension JavaScript -->
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>

    <!-- Select extension JavaScript -->
    <script src="https://cdn.datatables.net/select/2.0.0/js/dataTables.select.js"></script>
    <script src="https://cdn.datatables.net/select/2.0.0/js/select.dataTables.js"></script>

    <!-- DateTime extension JavaScript -->
    <script src="https://cdn.datatables.net/datetime/1.5.2/js/dataTables.dateTime.min.js"></script>

    <!-- Editor extension JavaScript -->
    <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.js"></script>
    <script src="https://editor.datatables.net/extensions/Editor/js/editor.dataTables.js"></script> {% endcomment %}



{% comment %} <!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
<!-- Include jQuery and DataTables script -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>

 <!-- Include DataTables Editor JS -->
 <script src="https://cdn.datatables.net/editor/2.0.2/js/dataTables.editor.js"></script> {% endcomment %}



{% comment %} 
 <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
    <!-- Include DataTables Editor CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/editor/2.0.2/css/editor.dataTables.css">
    <!-- Include jQuery and DataTables script -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
    <!-- Include DataTables Editor JS -->
   <script src="https://cdn.datatables.net/editor/2.0.2/js/dataTables.editor.js"></script>   {% endcomment %}




